@font-face {
    font-family: 'kingthings_calligraphica_2Rg';
    src: url('fonts/Kingthings_Calligraphica_2-webfont.eot');
    src: url('fonts/Kingthings_Calligraphica_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Kingthings_Calligraphica_2-webfont.woff2') format('woff2'),
         url('fonts/Kingthings_Calligraphica_2-webfont.woff') format('woff'),
         url('fonts/Kingthings_Calligraphica_2-webfont.ttf') format('truetype'),
         url('fonts/Kingthings_Calligraphica_2-webfont.svg#kingthings_calligraphica_2Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'chomsky';
    src: url('fonts/Chomsky.otf');
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    min-width: 500px;
    max-width: 1000px;
    justify-content: center;
    margin: 0 auto;
}

header {
    display: flex;
    background: linear-gradient(90deg,Red, white);
    padding: 25px;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: 'kingthings_calligraphica_2Rg';
}

h1, h2, h3 {
    font-family: 'chomsky';
}

.chomsky {
    font-family: 'chomsky';
}

.kingthings {
    font-family: 'kingthings_calligraphica_2Rg';
}

#nombre {
    font-size: 40px;
    color: #fedc54;
    padding: auto;
    margin: auto auto auto 10px;
}

#coat-of-arms {
    max-width: 100px;
    max-height: 110px;
}

